body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e8eaf6;
  }

  main {
    flex: 1 0 auto;
  }

footer {
  font-size: 0.8em;
}

table {
  margin: 0px  !important;
  padding: 0px !important;
}
.video-background {
    background: gray;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    background: url(https://wallpaperscraft.com/image/road_night_lights_88183_225x300.jpg) no-repeat 50% fixed;
    background-size: cover;
}

#home-index {
  position: absolute;
  float: left;
  width: 100%;
  margin-top: 100px;
  height: auto;
  background-color: #000;
  opacity: 0.7;
  text-align: center;
}


#home-index ul li {
  margin: 0 200px;
  display:inline-block;
}

#home-index ul li a:hover {
  background-color: #e91e63;
}
.home-logo {
  margin: 0 auto;

}
#c_map {
  background-color: #c097e6;
}

#abc {
  width: 100%;
  height: 100%;
}

.leftmargin {
  padding-left: 20px;
}

.board_box {
  background-color: #f5f2f2;
}

.detail_boxes {
  background-color: #fff;
}

.go-center {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center !important;
  vertical-align: middle !important;
}

/* cmap */
#map {
  width: 100%;
  height: 600px;
}
.material-icons.green { color: #4caf50; }

.card-hide {
  display: none;
}

.text_amber {
  color: #ffd54f;
}
::-webkit-input-placeholder {
  font-size: 0.8em;
}
:-moz-placeholder {
  font-size: 0.8em;
}
:-ms-input-placeholder {
  font-size: 0.8em;
}
